:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: url(/images/mountains-universe-3.png)  center/cover no-repeat;
  height: 100vh;
  display: grid;
  place-content: center;
}

header nav {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 4rem 0 4rem 7.2rem;
  top: 0;
  left: 0;
  
  background: #8d8d9911;
  border-bottom: 1px solid rgb(0, 0, 0) ;
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.37);
}

header a {
  display: inline-flex;
  text-decoration: none;
  color: #8D8D99;
  font-family: 'Roboto';
  margin-left: 3rem;
  font-weight: 400;
  font-size: 2rem;
  margin-top: -10px;
}

.home, .Bold {
  font-weight: bold;
  color: #fff;
}

main {
  text-align: center;
}

#error {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 125%;

  color: #912222;
}




